<!DOCTYPE html>
<html>
<head>
    <title>Book</title>
    <link rel="icon" th:href="@{/library.ico?v=1}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="stylesheet" th:href="@{/css/main-style.css}">
</head>
<body>
    <!-- HEADER -->
    <div th:insert="~{fragments/header :: header}"></div>

    <section>
        <!-- Dettagli libro -->
        <div th:if="${book}">
            <div>
                <img th:if="${cover}" th:src="@{'/images/' + ${cover.id}}" alt="Copertina libro" />
                <h1 th:text="${book.title}"></h1>
                <p>Anno: <span th:text="${book.yearOfPublication}"></span></p>

                <!-- Autori -->
                <h2>Autori</h2>
                <div th:if="${authors != null and authors.isEmpty()}">Nessun autore disponibile</div>
                <ul th:if="${authors}">
                    <li th:each="author : ${authors}">
                        <a th:href="@{'/author/' + ${author.id} + '?from=/book/' + ${book.id}}"
                           th:text="${author.name + ' ' + author.surname}"></a>
                    </li>
                </ul>

                <!-- Pulsanti -->
                <a th:href="${backUrl}" th:text="${backUrl == '/book' ? 'Torna ai libri' : 'Torna indietro'}"></a>

                <a sec:authorize="hasAuthority('ADMIN')" th:href="@{'/admin/edit/book/' + ${book.id}}">
                    Modifica
                </a>

                <form th:action="@{/admin/delete/book/{bookId}(bookId=${book.id}, from='backUrl')}"
                      method="POST" sec:authorize="hasAuthority('ADMIN')">
                    <button type="submit">Elimina</button>
                </form>
            </div>
        </div>

        <!-- Libro non trovato -->
        <div th:unless="${book}">
            <p>Libro non trovato</p>
        </div>

        <!-- Recensioni -->
        <div>
			<!-- <div th:insert="~{fragments/lastReview :: lastReview}"></div> -->
			<!-- <div sec:authorize="hasAnyAuthority('ADMIN','REGISTERED')" th:insert="~{fragments/newReview :: newReview}"></div> -->

                 th:insert="~{fragments/newReview :: newReview}"></div>
        </div>
    </section>

    <!-- FOOTER -->
    <div th:insert="~{fragments/footer :: footer}"></div>
</body>
</html>
