<!DOCTYPE html>
<html>

<head>
    <title>Libreria</title>
    <link rel="icon" th:href="@{/library.ico?v=1}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="stylesheet" th:href="@{/css/main-style.css}">
    <link rel="stylesheet" th:href="@{/css/books.css}">
</head>

<body>
    <!-- HEADER importato -->
    <div th:insert="~{fragments/header :: header}"></div>

    <!-- SECTION -->
    <section class="book-section">
        <h2 class="section-title">
            <i class="fa-solid fa-book-open"></i>
            La Nostra Collezione
        </h2>
        
        <div class="add-book-container" sec:authorize="hasAuthority('ADMIN')">
            <a th:href="@{/admin/formAddBook}" class="add-book-btn">
                <i class="fa-solid fa-circle-plus"></i>
                <span>Nuovo Libro</span>
                <div class="hover-effect"></div>
            </a>
        </div>

        <div class="book-container">
            <div th:if="${books.isEmpty()}" class="no-books">Non ci sono libri nel sistema</div>
            <ul class="book-list">
                <li th:each="book : ${books}">
                    <div class="book-card">
                        <!-- Link principale per il libro -->
                        <a th:href="@{'/book/' + ${book.id} + '?from=/book'}" class="book-link">
                            <img th:if="${book.cover}" th:src="@{'/images/' + ${book.cover.id}}" alt="Copertina libro"
                                class="book-cover" />
                            <div class="book-details">
                                <h3 th:text="${book.title}"></h3>
                                <span class="year" th:text="${book.yearOfPublication}"></span>
                            </div>
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </section>

    <!-- FOOTER importato -->
    <div th:insert="~{fragments/footer :: footer}"></div>
</body>

</html>