<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <title>Home</title>
    <link rel="icon" th:href="@{/library.ico?v=1}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>

<body>

    <!-- HEADER -->
    <div th:insert="~{fragments/header :: header}"></div>

    <section>
        <h1 th:text="${credentials.username}">Username</h1>

        <p>Nome: <span th:text="${user.name}">Nome</span></p>
        <p>Cognome: <span th:text="${user.surname}">Cognome</span></p>
        <p>Email: <span th:text="${user.email}">Email</span></p>
    </section>

    <!-- FOOTER -->
    <div th:insert="~{fragments/footer :: footer}"></div>

</body>

</html>
