<!DOCTYPE html>
<html>

<head>
	<title>Libreria</title>
	<link rel="icon" th:href="@{/library.ico?v=1}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
	<link rel="stylesheet" th:href="@{/css/main-style.css}">
	<link rel="stylesheet" th:href="@{/css/registered/reviews.css}">
</head>

<body>
	<!-- HEADER importato -->
	<div th:insert="~{fragments/header :: header}"></div>

	<!-- SECTION -->
	<section class="review-section">
		<h2 class="section-title">
			<i class="fa-solid fa-book-open"></i>
			Le Vostre Recensioni
		</h2>
		<h3>
			Titolo libro: <span th:text="${book.title}"></span>
		</h3>

		<div th:if="${reviews.isEmpty()}" class="no-review">Non ci sono recensioni nel sistema</div>
		<ul class="review-list">
			<li th:each="review : ${reviews}">
				<h3 th:text="${review.title}"></h3>
				<span class="review-text" th:text="${review.text}"></span>
				<div class="review-rating">
					<!-- Genera tante stelle piene quanto il rating -->
					<span th:each="i: ${#numbers.sequence(1,5)}">
						<i th:class="${i <= review.rating} ? 'fas fa-star star filled' : 'fas fa-star star'"></i>
					</span>
				</div>
				
				<form th:action="@{/admin/delete/book/{bookId}/review/{reviewId}(bookId=${book.id}, reviewId=${review.id}, from='backUrl')}"
					method="POST" sec:authorize="hasAuthority('ADMIN')">
					<button type="submit" class="button">
						<i class="fa-solid fa-trash-can"></i> Elimina Recensione
					</button>
				</form>

			</li>
		</ul>
		<a th:href="${backUrl}" class="button">
			<i class="fa-solid fa-arrow-left"></i>
			Torna indietro
		</a>
	</section>

	<!-- FOOTER importato -->
	<div th:insert="~{fragments/footer :: footer}"></div>
</body>

</html>